<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <!-- FIXME https://github.com/ensime/ensime.github.io/issues/16 -->
      {% assign pages_list = site.pages | sort:"order" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if (node.layout == "page" && node.parent == null) %}
            parent = {{node.parent}}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

    <p class="legal">
      &copy; 2015 - {{ site.time | date: '%Y' }}
      <a href="https://github.com/ensime/ensime.github.io/graphs/contributors">ENSIME Contributors</a><br/>
      Content Licence: <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a><br/>
      Theme Licence: <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a><br/>
      <!--Theme: <a href="https://github.com/poole/hyde">Hyde</a><br/>-->
      Code of Conduct: <a href="http://typelevel.org/conduct.html">Typelevel</a>
    </p>
  </div>
</div>
